*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body{
    background-color: #E5E5E5;
    background-image: url(../img/Rectangle\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

header{
    width: 100%;
    padding:60px;
}

header ul{
    width: 100%;
}

header ul li{
    margin-right: 7%;
}

header ul li a{
    background-color: #C4C4C4;
    padding: 30px;
    border-radius:  0 35% 0 35%;
    color: #000000;
    transition: 0.5s;
}

header ul li a:hover{
    color: #ffffff;
    background-color: #79B331;
    cursor: pointer;
}

.place{
    width: 29.5%;
    height: 200px;
    margin-left: 55%;
    text-align: center;
    margin-top: 120px;
}

@keyframes ball-move{
    1%{top : 0px; left: 0px}
    25%{top: 0px; left: 94%}
    50%{top:84%; left:94%}
    75%{top:84%; left: 0px}
    100%{top : 0px; left: 0px}
}

.ball{
    
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #79B331;
    position: relative;
    animation: ball-move 2s infinite;
}

.deadline{
    margin-top: 20px;
    font-size: 20px;
}

.time{
    margin-top: 16px;
    font-size: 40px;
}

.advice{
    width: 64%;
    height: 500px;
    margin-top: 170px;
    margin-left: 500px;
}

.rcheva {
    width: 450px;
    height: 80px;
    position: relative;
}

.potoli{
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    position:absolute;
    top: 0;
    right: 0px;
    border-radius:  0 35% 0 35%;
    transition: 0.5s;
}

.rcheva p{
    transition: 0.5s;
}

.rcheva:hover p{
    color:#79B331;
}

.rcheva:hover .potoli{
    background-color: yellowgreen;
}

.rcheva-mesame:hover p{
    color:#79B331;
}

.rcheva-mesame:hover .potoli-sami{
    background-color: yellowgreen;
}

.meore{
    margin-top: 150px;
    
}

.rcheva-mesame{
    width: 630px;
    height: 80px;
    text-align: right;
    position: relative;
    margin-left:450px;
    margin-top:-165px;
}

.potoli-sami{
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    border-radius:  35% 0 35% 0;
    margin-top: -42px;
    transition: 0.5s;   
}

.rcheva-mesame p{
    transition: 0.5s;
}

.meotxe{
    text-align: left;
    margin-top: 155px;
}
.meotxe p{
    margin-top: -60px;
    margin-left: 100px;
}



.line{
    margin:400px;
    width:43%;
    border: 1px solid #C4C4C4;
    transform: rotate(90deg);
    margin-left: 218px;
    margin-top:-150px;
}

@media only screen and (max-width: 1456px) {
    .advice{
        margin-left: 500px;
        margin-top:80px;
    }
    .line{
        display: none;
    }
    .place{
        margin-top:50px;
    }
    .rcheva p{
        margin-left: 80px
    }
    .potoli{
        left: 0px;
    }
    .potoli-sami{
        transform: rotate(90deg);
    }
    .rcheva-mesame{
        margin-left: 0px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .place{
        margin-left: 45%;
        margin-top:0px;
    }
    .advice{
        margin-left: 440px;
        margin-top:40px;
    }
}

@media only screen and (max-width: 1240px) {
    .flex{
        justify-content: flex-start;
    }

    .place{
        margin-left: 57%;
        margin-top: -50px;
    }
    .advice{
        margin-left: 400px;
        margin-top:36px;
    }
}


@media only screen and (max-width: 1160px) {
    .place{
        margin-left: 60%;
        margin-top: -90px;
    }
    .advice{
        margin-left: 400px;
    }
}

 @media only screen and (max-width: 1130px) {
    body{
        background-image: none;
        background-color: #E5E5E5;
    }
    .place{
        margin-left: 65%;
        margin-top: -50px;
    }
    .advice{
        margin-left: 50px;
        margin-top:20px;
    }
}

@media only screen and (max-width: 920px) {
    .ball{
        display: none;
    }

    .place{
        margin-left: 65%;
        margin-top: -20px;
    }
}

