*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    /* clear:both; */
    background-color: #E5E5E5;
    background-image: url(../img/Rectangle\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 100px
}

header{
    width: 100%;
    height: 140px;
}

header ul li{
    height: 150px;
    float:left;
    margin-left: 100px
}

header ul{
    margin-left: 40%;
    /* margin-top: 80px; */
}

header ul li a{
    background-color: #C4C4C4;
    padding: 30px;
    border-radius:  0 35% 0 35%;
    color: #000000;
    transition: 0.5s;
}

header ul li a:hover{
    color: #ffffff;
    background-color: #79B331;
    cursor: pointer;
}



.place{
    clear: both;
    width: 500px;
    height: 200px;
    margin-left: 55%;
    text-align: center;
}

@keyframes ball-move{
    1%{top : 0px; left: 0px}
    25%{top: 0px; left: 468px}
    50%{top:168px; left:468px}
    75%{top: 168px; left: 0px}
    100%{top : 0px; left: 0px}
}

.ball{
    clear: both;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #79B331;
    position: relative;
    animation: ball-move 2s infinite;
}

.deadline{
    margin-top: 20px;
    font-size: 20px;
}

.time{
    margin-top: 16px;
    font-size: 40px;
}

.advice{
    width: 1050px;
    height: 500px;
    margin-top: 250px;
    margin-left: 450px;
}

.rcheva {
    width: 450px;
    height: 80px;
    position: relative;
}

.potoli{
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    position:absolute;
    top: 0;
    right: 0px;
    border-radius:  0 35% 0 35%;
    transition: 0.5s;
}

.rcheva p{
    transition: 0.5s;
}

.rcheva:hover p{
    color:#79B331;
}

.rcheva:hover .potoli{
    background-color: yellowgreen;
}

.rcheva-mesame:hover p{
    color:#79B331;
}

.rcheva-mesame:hover .potoli-sami{
    background-color: yellowgreen;
}

.meore{
    margin-top: 150px;
    
}

.rcheva-mesame{
    width: 630px;
    height: 80px;
    text-align: right;
    position: relative;
    margin-left:450px;
    margin-top:-165px;
}

.potoli-sami{
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    border-radius:  0 35% 0 35%;
    margin-top: -42px;
    transition: 0.5s;   
}

.rcheva-mesame p{
    transition: 0.5s;
}

.meotxe{
    margin-top: 155px;
}

.line{
    margin:400px;
    width: 600px;
    border: 1px solid #C4C4C4;
    transform: rotate(90deg);
    margin-left: 150px;
    margin-top:-140px;
}